*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1A1A1A;
    color: white;
}

.container{
    background-color: #0D0D0D;
    height: 150px;
    
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.inputbox{
    margin: -20px 20% 0px 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 52px;
    gap: 10px;
    border-radius: 8px;
}

#inputTask{
    width: 100%;
    background-color: #262626;
    border-radius: 8px;
    border: none;
}

#inputTask:hover{
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

#btn-add{
    background: #1E6F9F;
    border-radius: 8px;
    border: none;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: white;
    cursor: pointer;
}
.btn-add:hover{
    box-shadow: rgba(39, 121, 245, 0.35) 0px 5px 15px;
    background-color: #4da8de;
}

.sec{
    margin: 20px 20% 0 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    border: solid 1px  red;
}

.cricon{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#tx1{
    color: #4EA8DE;
}

#tx2{
    color: #8284FA;
}

.start-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: solid 1px red;*/
    width: 100%;
    height: 85%;
    display: none;
}

#clip{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

#sub1::before{
    margin-top: 10px;
    content: "Você ainda não tem tarefas cadastradas";
    display: flex;
    opacity: 70%;
    justify-content: center;
  color: #808080;
  font-style: inter;
  font-size: 16px;
  width: 100%;
}

#sub2::before{
    content: "Crie tarefas e organize seus itens a fazer";
    display: flex;
    opacity: 50%;
    justify-content: center;
  color: #808080;
  font-style: inter;
  font-size: 16px;
  width: 100%;
}

.start-message.hidden{
    display: none;
}

.taskList{
    display: flex;
    justify-content: center;
    border: solid 1px red;
    height: 90%;
}
.item{
    background-color: #333333;
    display: flex;
    border: solid 1px red;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    border-radius: 8px;
    align-items: center;
}